body {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  color: #fafafa;
}
.navbar {
  background-color: #fafafa;
}
.sum-bg {
  /* margin-right: 10px; */
  background-color: rgba(250, 250, 250, 1);
  padding: 10px;

  color: rgb(63, 76, 119);
  /* padding: 15px; */
}
.vis-bg {
  /* margin-left: 10px; */
  background-color: rgba(250, 250, 250, 0.8);

  color: rgb(63, 76, 119);
  padding: 15px;

  /* box-shadow: inset; */
}
.vis-tile {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.vis-tile:hover {
  /* border: solid; */
  cursor: pointer;
  /* border-color: rgb(255, 255, 255); */
  border-radius: 25px;
  box-shadow: 0 0 6px 1px, 0 0 6px 1px inset;
  transition: 4ms ease-in-out;
}

.tb-bg {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  margin: 10px;
}
.cmp-h3 {
  text-align: center;
  padding-top: 20px;
}
.content-box {
  text-align: justify;
}
.content-box img {
  object-fit: contain;
}
.content-img {
  display: inline;
  position: relative;
  float: left;
}
@media screen {
}
@media (max-width: 992px) {
  body {
    background: rgba(250, 250, 250, 1);
    /* color: rgb(32, 38, 57); */
    color: rgb(63, 76, 119);
  }
  .v2nav-main {
    background: linear-gradient(
      112.1deg,
      rgb(32, 38, 57) 11.4%,
      rgb(63, 76, 119) 70.2%
    );
  }
  .v2nav {
    color: #fafafa;
    background-color: rgba(32, 38, 57, 0);
  }
  .v2nav button {
    color: #fafafa;
    border: solid;
    border-color: #fafafa;
  }
  .v2nav:hover {
    cursor: pointer;
    color: #f7d307;
  }
  .in-vs2bg {
    background-color: rgba(250, 250, 250, 1);
    color: rgb(63, 76, 119);
  }
  .tb-bg {
    box-shadow: 0 0 6px 1px;
  }
}
